body {
    background-image: url(./imagenes/Fondo.jpeg);
}

#jumbotron {

    display: grid;
    grid-template-columns: 65% 33%;
    column-gap: 1%;
    padding: 1%;


    /*¡height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;*/
}

.jumbocontent {
    border: 2px solid red;
    padding: 0.5%;
    border-radius: 15px;
    background-color: rgb(171, 172, 183);
}

.jumboimage{
    border-radius: 15px;
}