body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    color:coral; 
    text-shadow: black 0.1em 0.1em 0.2em
}

h1:hover{
    color:aquamarine; 
}

#jumbotron {
    display: grid;
    grid-template-columns: 65% 33%;
    column-gap: 1%;
    padding-bottom: 5%;
    border-radius: 0 0 0% 0%;
    background: linear-gradient(black, rgba(192, 218, 255, 0.811), rgba(160, 105, 2, 0.701));
    

    /*¡height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;*/
}

.jumbocontent {
    margin-left: 10%;
    margin-top: 10%;
}


#blog {
    margin-top: 2%;
    background-color: rgba(5, 8, 27, 0.899);
    border-radius: 15px;
}

.menu {
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.card {
    height: 100%;
}

footer {
    -webkit-text-fill-color: azure;
    margin-top: 5%;
    padding: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: rgba(5, 8, 27, 0.899);
    column-gap: 1%;
}

@media(max-width: 875px) {

    .menu {
        flex-direction: column;
        align-items: center;

    }

    .card {
        margin-bottom: 5%;
    }

}

@media(max-width: 600px) {

    footer{
        font-size: small;
    }

}