body {
   background-size: 100% 100%;
    background-repeat: no-repeat;
}

#jumbotron {

    display: grid;
    grid-template-columns: 65% 33%;
    column-gap: 1%;
    padding: 1%;


    /*¡height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;*/
}

.jumbocontent {
    border: 2px solid rgb(24, 25, 71);
    padding: 0.5%;
    border-radius: 15px;
    background-color: rgb(234, 235, 241);
}

#blog{
margin-top: 2%;
background-color: rgba(5, 8, 27, 0.899);
border-radius: 15px;
}

.menu{
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.card{
    height: 100%;
}
